.slider-bg{
    background-color: #FCEAE8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.container{
    margin-bottom: 100px;
}
.price{
    color: #ff136f;
}
.buy-btn{
    background-image: linear-gradient(to bottom,#ff5898 0%, #ff136f 100% );
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.categories{
    color: #fff;
}
.categories img{
    width: 100px;
}
.cat-1, .cat-2, .cat-3{
    border-radius: 10px;
    padding: 15px 30px;
}
.cat-1{
    background-color: #FFA500;
}
.cat-2{
    background-color: #DA70D6;
}
.cat-3{
    background-color: #0000FF;
}